.App {
  text-align: center;
  padding: 30px;
  background-color: darkslategrey;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.App-header {
  background-color: orangered;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: lightgrey;
}
