.cards {
    background-color: beige;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    background-color: lightgray;
    border: 1px solid black;
    margin: 1rem 1rem;
    border-radius: 9px;
    box-shadow: 5px 5px 5px #00000072;
}